body {
    background-color: burlywood;
}

p {
    color: brown;
    font-size: 12px;
}

h1 {
    color: yellow;
    font-size: 30px;
}

h1 {
    color: pink;
}

h2 {color: blue}

h3 {color: purple}

h3.pastor {color: greenyellow}

h3.barbacoa {color: gray}

h3.carnitas {color: green}

h3 {color: purple}

ul li a {
    color: black;
}

img {
    width: 250px;
}